* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}
.calculator {
    background: #1c1c1c;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
    width: 90%;
    max-width: 340px;
    padding: 20px;
   
}
.display input {
    width: 100%;
    height: 70px;
    background: #222;
    border: none;
    outline: none;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 11px;
}
.btn {
    padding: 17px;
    font-size: 1.2rem;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    color: #fff;
    background: #333;
    transition: all 0.2s ease;
}
.btn:hover {
    background: #444;
    transform: scale(1.05);
}
.operator {
    background: #7c5621;
    color: white;
}
.operator:hover {
    background: #ffa733;
}
.equals {
    grid-column: span 2;
    background: #2e784b;
}
.equals:hover {
    background: #33d374;
}
.zero {
    grid-column: span 2;
}